
.slideshow {
  position: relative;
  img {

    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    &:first-of-type {
      opacity: 1;

    }
    transition: opacity 1s ease-in-out;
    &.show {
        opacity: 1 !important;
        transition: opacity 1s ease-in-out;
    }
  }
}
